<html>
    <head>
        <script language="javascript" type="text/javascript" src="/lib/jquery.js"></script>
        <script language="javascript" type="text/javascript" src="/lib/main.js"></script>

    </head>
    <body>
        <h1>Controller via WIFI CC3000</h1>
        <!-- p>Current LED Status is:<span id="ledstatus"/></p> -->
        
        <h2>Servero 1 Controller</h2>
        <button type="button" id="activate">Led Aktivieren</button>
        <button type="button" id="deactivate">Led Deaktivieren</button>
        <button type="button" id="servoleft1">Left</button>
        <button type="button" id="servoright1">Right</button>
        <p>Current Servo State is:<span id="servoangle1"/></p>
    </body>

</html>